
.header {
	height: 100vh;
	width: 100%;


}
.main-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
z-index: -1;
  
}
.button {
	text-align: center;
	width: 80px;
	height: 80px;
	background-color:white;
	background-image: url(img/pngtree-pink-flat-valentine-rose-icon-image_1130204.jpg);
	background-position: top;
	z-index: 1;
	position: absolute;
left: 50%;
bottom: 2%;
margin: auto;
background-size: contain;
border-radius: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);


}

.main {
	height: 100vh;
	background-color: #151719;
	text-align: center;

}
.card {
	margin: auto;
	width: 50vw;
color: white;
vertical-align: top;
height: 50vh;

background-size: cover;
	background-repeat: no-repeat;

}
.info {
	background-image: url(img/XCbMHMCqqTU.jpg);
	
	
}
.second {
	background-image: url(img/4nWef3riGx0.jpg);

}
.info:before {
margin:  auto;
	content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis alias non, distinctio nam tempore earum repellat mollitia, necessitatibus quam numquam. Soluta hic mollitia rem id veniam alias cumque natus, praesentium dolorum veritatis, ex debitis repudiandae aliquid excepturi. Soluta ea molestiae, molestias quidem quasi ipsum excepturi quae ipsam asperiores, commodi assumenda sequi ratione. Error commodi nihil sequi. Assumenda a autem atque, beatae eius officia iure facere, nulla consequatur ratione non at cupiditate alias eum eos minima repellat laudantium ipsam enim consequuntur praesentium ex voluptatem facilis quidem. Tenetur vero, quibusdam, eum enim illo aspernatur, id dolor facilis quam necessitatibus inventore blanditiis!';
	display:flex;
	opacity: 0;
background-color:rgba(0,0,0,0.5);
z-index: 1;
width: 50vw;
height: 50vh;
-webkit-transition: 1s all;
-o-transition: 1s all;
transition: 1s all;
 align-items: center;
font-family: 'Roboto', sans-serif;
font-size: 1vw;
}
.info:hover:before {
	opacity: 1;
}
.albom {
background-image: url(img/123.jpg);
}
.second:before {
margin:  auto;
	content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis alias non, distinctio nam tempore earum repellat mollitia, necessitatibus quam numquam. Soluta hic mollitia rem id veniam alias cumque natus, praesentium dolorum veritatis, ex debitis repudiandae aliquid excepturi. Soluta ea molestiae, molestias quidem quasi ipsum excepturi quae ipsam asperiores, commodi assumenda sequi ratione. Error commodi nihil sequi. Assumenda a autem atque, beatae eius officia iure facere, nulla consequatur ratione non at cupiditate alias eum eos minima repellat laudantium ipsam enim consequuntur praesentium ex voluptatem facilis quidem. Tenetur vero, quibusdam, eum enim illo aspernatur, id dolor facilis quam necessitatibus inventore blanditiis!';
	display:flex;
	opacity: 0;
background-color:rgba(0,0,0,0.5);
z-index: 1;
width: 50vw;
height: 50vh;
-webkit-transition: 1s all;
-o-transition: 1s all;
transition: 1s all;
 align-items: center;
font-family: 'Roboto', sans-serif;
font-size: 1vw;
}
.second:hover:before {
	opacity: 1;
}
.albom:hover {
	height: 100vh;
	-webkit-transition: 1s all;
-o-transition: 1s all;
transition: 1s all;

}
.albom:hover + .play-oform {
	
	display: none;
}
.img-albom {
	width: 200px;
	margin: 0px;
	display: inline-block;
	
}
.play {
	width: 10vw;
	height: 5vh;
display: block;
border:1px solid black;
text-align: center;
line-height: 5vh;
font-family: 'Roboto', sans-serif;
color:black;
position: absolute;
right: 30vw;
font-size: 1vw;

}
.vk a {
	height: 5vh;
	text-decoration: none;
}
.play:hover {
	background-color: black;
	color:white;
	border-color: white;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.music {
height: 100vh;
width: 100%;
position: absolute;
  z-index: -1;
  background-color: #000;

}
.music img {
	width: 100%;
	-o-object-fit: cover;
    object-fit: cover;
    height: 100vh;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
}
.play-oform {
	background-color: white;


}
.vk {
	width: 50vw;
	height: 10vh;
display: flex;
align-items: center;
box-sizing: border-box;
border: 0.5px solid black;

}
.vk img {
	position: relative;
	left: 5vw;
	width: 10vw;
}
.video-info {
	text-align: center;
	background-color: #151719;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.card h2{
padding-top: 3vh;
margin-bottom: 3vh;
}
.footer {
	height: 20vh;
	text-align: center;
	font-family: 'Roboto', sans-serif;


}
.footer p {
	margin-top: 2vh;
	margin-bottom: 3vh;
	font-size: 20px;
}
.footer a {
	text-decoration: none;
color:black;
display: block;
margin-bottom: 10px;

}
.footer a:hover {
	text-decoration: underline;
}

.navigation-button {
	position: fixed;
	width:80px;
	height: 80px;
	background-color: white;
	border-radius: 50%;
	right: 100px;
background-size: contain;


}
.header-button {
top:30%;
background-image: url(img/главная.png);
	background-size: 90%;
	background-position: center;
background-repeat: no-repeat;
}
.main-button {
	top:41%;
	background-image: url(img/инфа.png);
	background-size: 50%;
	background-position: center;
background-repeat: no-repeat;
	
}
.albom-button {
	top:52%;
	background-image: url(img/альбом.png);
	background-size: 50%;
	background-position:center;
background-repeat: no-repeat;
}
.clip-button {
	top:63%;
	background-image: url(img/клипы.png);
	background-size: 90%;
	background-position:center;
background-repeat: no-repeat;
}
.contact-button {
	top:74%;
	background-image: url(img/контакты.png);
		background-size: 50%;
	background-position:center;
background-repeat: no-repeat;
	}


@media(max-width: 1200px) {
.info,.second {
	width: 100%;
	
	}
.info:before,.second:before {
	width: 100%;
	font-size: 30px;
}
.albom {
width: 100%;

}
.albom:hover {
	height: 50vh;
}
.albom:hover + .play-oform {
	
	display: block;
}
iframe {
	width: 500px;
	height: 500px;
}
.footer {
	font-size: 25px;
}
.play-oform {
	width: 100%;

}
.vk img {
	width: 200px;
}
.vk {
	width: 100%;
}
.play {
	right: 50px;
	font-size: 25px;
	width: 200px;
	height: 50px;
}
.navigation-button {
	position: absolute;
	width:80px;
	height: 80px;
top:10px;
left: 25%;
}
.main-button {
	left: 35%;
}
.albom-button {
	left:45%;

}
.clip-button {
	left:55%;
}
.contact-button {
	left: 65%;
}
.button {
	width: 80px;
	height: 80px;
}
.play {
	line-height: 4vh;
}
.footer p {
	font-size: 30px;
}
.video-info h2 {
	font-size: 30px;
}
	 }
@media(max-width: 769px) {
.play {
	line-height: 4vh;
}
.footer {
	font-size: 15px;
}
.info:before,.second:before {
	width: 100%;
	font-size: 20px;
}
.navigation-button {
	left: 15%;
	
}
.main-button {
	left: 30%;
}
.albom-button {
	left:45%;

}
.clip-button {
	left:60%;
}
.contact-button {
	left: 75%;
}
}
@media(max-width: 480px) {
	.info:before,.second:before {
	width: 100%;
	font-size: 10px;
}
iframe {
	width: 200px;
	height: 150px;
}
.navigation-button {
	left: 15%;
	width: 30px;
	height: 30px;
}
.main-button {
	left: 30%;
}
.albom-button {
	left:45%;

}
.clip-button {
	left:60%;
}
.contact-button {
	left: 75%;
}
.button {
	width: 50px;
	height: 50px;
}
.play {
	right: 20px;
	font-size: 13px;
	width: 80px;
	height: 25px;
}
.vk img {
	width: 100px;
}
.footer {
	font-size: 10px;
}
.footer p {
	font-size: 15px;
}
.video-info h2 {
	font-size: 15px;
}
.play {
	line-height: 4vh;
}
}
